.main {
  display: flex;
  flex-direction: column;
  width: 720px;
  margin: 4rem auto;
  text-align: center;
}

#search {
  background-color: #fff;
}

#results {
  margin-top: 2rem;
}

.result {
  margin-bottom: 2rem;
}

iframe {
  position: relative;
  border:none;
  z-index: 1;
}

.spinner {
  position: relative;
  font-size: 2rem;
  z-index: 0;
  top: 196px;
  margin-top: -1rem;
}

.disclaimer {
  font-size: 10px;
  color: #777;
}